In [705]:
#1 задание
word = input()
if len(word)%2 !=0:
    print(word[int(len(word)/2)])
lenght = len(word)
middle = lenght//2
if lenght % 2 == 0:
    print (word[middle-1:middle+1])

 ouk

u

In [707]:
#2 задание
numbers = int(input("Введите значение"))
sum_num = []
while numbers != 0:
    numbers = int(input("Введите значение"))
    sum_num.append(numbers)
print(sum(sum_num))

Введите значение 5
Введите значение 6
Введите значение 4
Введите значение 0

10

In [425]:
# 3 задание
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma','Trisha']
if len(boys) != len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys.sort()
    girls.sort()
    print('Идеальные пары:')
    for b,g in zip(boys, girls):
        print(b,'и',g)

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [711]:
# 4 задание
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for c_t in countries_temperature:
    print(c_t[0], '-', round((sum(c_t[1]) / len(c_t[1]) - 32) / 1.8, 1), 'C')

Таиланд - 23.9 C
Германия - 13.8 C
Россия - 3.7 C
Польша - 12.0 C